<form ng-submit="editProfile(user)">
	<input type="text" placeholder="First Name" ng-model="user.fName">
	<input type="text" placeholder="Last Name" ng-model="user.lName">
	<input type="text" placeholder="Street Address" ng-model="user.street">
	<input type="text" placeholder="City" ng-model="user.city">
	<input type="text" placeholder="State Name" ng-model="user.state">
	<input type="text" placeholder="Zip Code" ng-model="user.zip">
	<input type="text" placeholder="Country" ng-model="user.country">
	<button>Edit</button>
</form>